:root {
  --width-of-grid: 370px;
  --violet: rgb(255, 136, 195);
  --purple: #e3c5f8;
  --teal: #96e4d2;
  --green: #a2ea5e;
  --yellow: rgb(248, 248, 71);
  --orange: rgb(254, 180, 43);
  --red: rgb(249, 63, 63);
  --thick-border: black 3px solid;
}

main {
  height: 100vh;
  font-family: monospace;
  margin: 0 auto;
  width: 720px;
  background: var(--purple);
}

/**********************
SCREENS
**********************/
#screen-game {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/**********************
METERS
**********************/
#meters {
  display: flex;
  justify-content: space-between;
  width: var(--width-of-grid);
  margin-bottom: 12px;
}

.meter {
  text-align: center;
  min-width: 60px;
  font-size: 16px;
  font-weight: 700;
}

.meter p {
  margin: 6px 0;
}

.meter-number {
  display: flex;
  justify-content: center;
  padding: 12px;
  border: var(--thick-border);
  border-radius: 10px;
  font-size: 24px;
  font-weight: 400;
}

.turn .meter-number {
  background: var(--teal);
}

.energy .meter-number {
  background: var(--green);
}

.money .meter-number {
  background: var(--yellow);
}

.calories .meter-number {
  background: var(--orange);
}

/**********************
GRID
**********************/

#grid {
  display: grid;
  gap: 6px;
  padding: 18px 12px 12px 18px;
  border-radius: 12px;
  margin: 0 auto 32px;
  background: #e2e2e2;
}

.tile {
  outline: 1px solid black;
  /* aspect-ratio: 1 / 1;
  width: 50px;
  height: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.attack::after {
  content: '';
  background: red;
  opacity: 50%;
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  /* If you want it to be above cat */
  z-index: 100;
  position: relative;
}

.floor {
  background: aliceblue;
}

.grass {
  background: #bad500;
}

.street {
  background: grey;
}

.wall {
  background: darkgrey;
}

.space {
  background: black;
  background-image: radial-gradient(white 1px, transparent 1px),
    radial-gradient(#888 1px, transparent 1px),
    radial-gradient(#fff 1px, transparent 1px);
  background-size: 50px 50px, 80px 80px, 120px 120px;
  background-position: 0 0, 20px 20px, 40px 60px;
}

.coin {
  width: 30px;
  height: 30px;
  font-size: 16px;
  box-shadow: var(--orange) -2px 1px;
  background: var(--yellow);
  color: var(--red);
  border-radius: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

/**********************
CAT
**********************/

#cat {
  position: relative;
  width: 200px;
  height: 300px;
  border-radius: 50% / 55%;
  background: black;
  zoom: 40%;
  transition: left 0.5s, top 0.5s, transform 0.5s;
  z-index: 1000000;
}

.ear {
  position: absolute;
  width: 40px;
  height: 40px;
  background: black;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  top: -9px;
}

.ear.left {
  left: 10px;
  transform: rotate(-44deg);
}

.ear.right {
  right: 10px;
  transform: rotate(44deg);
}

.face {
  position: relative;
  top: -16px;
}

.eye {
  position: absolute;
  width: 30px;
  height: 16px;
  background: #bad500;
  border-radius: 50%;
  top: 45px;
}

.eye::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 20px;
  background: black;
  border-radius: 50%;
  top: -2px;
  left: 9px;
}

.eye.left {
  left: 59px;
}

.eye.right {
  right: 59px;
}

.nose {
  position: absolute;
  background: #ffddee;
  width: 9px;
  height: 5px;
  top: 63px;
  left: 95px;
  border-radius: 5px;
}

.smile {
  position: absolute;
  width: 25px;
  height: 12px;
  border-bottom: 3px solid var(--violet);
  border-radius: 0 0 60px 60px;
  top: 68px;
  left: 50%;
  transform: translateX(-50%);
}

.paw {
  position: absolute;
  width: 40px;
  height: 60px;
  background: black;
  border-radius: 50%;
  border: 3px solid #727272;
}

.paw.front-left {
  top: 100px;
  left: 30px;
  transform: rotate(-30deg);
}

.paw.front-right {
  top: 100px;
  right: 20px;
  transform: rotate(21deg);
}

.paw.back-left {
  bottom: 20px;
  left: 40px;
  transform: rotate(-10deg);
}

.paw.back-right {
  bottom: 20px;
  right: 40px;
  transform: rotate(10deg);
}

.glowing {
  box-shadow: rgb(255, 136, 195);
}

/**********************
CARD
**********************/
#card-holder {
  display: flex;
  gap: 32px;
}

.card {
  align-items: center;
  background: white;
  border-radius: 10px;
  border: 8px solid var(--teal);
  cursor: pointer;
  display: flex;
  font-size: 16px;
  flex-direction: column;
  height: 150px;
  justify-content: space-between;
  outline: var(--thick-border);
  padding: 12px;
  text-align: center;
  width: 120px;
}

.card.level2 {
  background: lightyellow;
}

.card.level3 {
  background: lightsalmon;
}

.stats {
  display: flex;
  width: 100%;
  gap: 12px;
  justify-content: space-between;
}

.stats div {
  background: var(--green);
  padding: 12px 16px;
  border-radius: 4px;
  outline: var(--thick-border);
  font-size: 24px;
  line-height: 24px;
}

.stats div:nth-child(2) {
  background: var(--orange);
}

/**********************
ROTATOR
**********************/
.arrow {
  font-size: 24px;
}

/**********************
VIEW DECK
**********************/
#view-deck {
  display: flex;
  justify-content: space-around;
}
