:root {
  /* WIDTHS */
  --width-of-grid: 370px;
  --thick-border: var(--black) 3px solid;
  --thin-border: var(--black) 1.5px solid;

  /* COLORS */
  --black: #000;
  --grey-dark: #727272;
  --grey: #b4b4b4;
  --white: #fff;
  --pink-hot: rgb(255, 136, 195);
  --pink: #ffddee;
  --purple-dark: #b384d4;
  --purple: #e3c5f8;
  --teal: #96e4d2;
  --green: #a2ea5e;
  --yellow: rgb(248, 248, 71);
  --orange: rgb(254, 180, 43);
  --red: rgb(249, 63, 63);

  /* Z-INDICES */
  --cat-z: 100000;
  --atk-z: 100001;
}

body {
  margin: 0;
  height: 100vh;
}

main {
  /* Height minus padding; could just hide overflow too */
  height: calc(100vh - 24px);
  font-family: monospace;
  margin: 0 auto;
  padding: 12px 0;
  /* width: 720px; */
  background: var(--purple);
}

button {
  background: var(--white);
  border: var(--thick-border);
  border-radius: 10px;
  cursor: pointer;
  font-family: monospace;
  font-size: 24px;
}

button:focus {
  outline: 5px solid var(--pink-hot);
}

button:disabled {
  cursor: not-allowed;
}

.top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

.top .placeholder {
  width: 160px;
}

.middle {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.middle .placeholder,
.drama {
  width: 100%;
  margin: 0px 12px 36px 24px;
}

.drama {
  outline: var(--thin-border);
  border-radius: 10px;
  background: var(--white);
  overflow-y: scroll;
  height: calc(var(--width-of-grid) + 24px);
  font-size: 16px;
}

.drama div {
  padding: 24px;
  line-height: 24px;
  border-bottom: var(--thin-border);
}

/**********************
SCREENS
**********************/
#screen-game,
#screen-intermission {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#screen-game {
  display: none;
}

#screen-intermission {
  text-align: center;
  margin: 0;
  padding: 36px 48px;
}

#intermission-text {
  font-size: 124px;
  margin: 32px 0;
}

#intermission-button {
  padding: 24px;
}

/**********************
METERS
**********************/
#meters {
  display: flex;
  justify-content: space-between;
  width: var(--width-of-grid);
  margin: 0 auto 12px;
}

.meter {
  text-align: center;
  min-width: 60px;
  font-size: 16px;
  font-weight: 700;
}

.meter p {
  margin: 6px 0;
}

.meter-number {
  display: flex;
  justify-content: center;
  padding: 12px;
  border: var(--thick-border);
  border-radius: 10px;
  font-size: 24px;
  font-weight: 400;
}

.turn .meter-number {
  background: var(--teal);
}

.energy .meter-number {
  background: var(--green);
}

.money .meter-number {
  background: var(--yellow);
}

.calories .meter-number {
  background: var(--orange);
}

#next-holder {
  text-align: right;
  margin: 0px 12px 12px 0px;
}

#next-holder button {
  padding: 12px;
}

.warning {
  animation: warning-keyframes 2s infinite;
}

@keyframes warning-keyframes {
  0% {
    background: var(--white);
  }
  50% {
    background: var(--teal);
  }
}

.attention {
  animation: attention-keyframes 0.6s ease;
}

@keyframes attention-keyframes {
  0% {
    transform: scale(1) rotate(0deg);
    filter: brightness(100%);
  }
  20% {
    transform: scale(1.2) rotate(-2deg);
    filter: brightness(110%); /* lighten */
  }
  40% {
    transform: scale(1.2) rotate(2deg);
    filter: brightness(110%);
  }
  60% {
    transform: scale(1.1) rotate(-1deg);
    filter: brightness(105%);
  }
  80% {
    transform: scale(1.05) rotate(1deg);
    filter: brightness(102%);
  }
  100% {
    transform: scale(1) rotate(0deg);
    filter: brightness(100%);
  }
}

.slight-attention {
  animation: slight-attention-keyframes 0.4s ease;
}

@keyframes slight-attention-keyframes {
  0% {
    transform: scale(1);
    filter: brightness(100%);
  }
  25% {
    transform: scale(1.1);
    filter: brightness(110%); /* lighten */
  }
  50% {
    transform: scale(1.1);
    filter: brightness(110%);
  }
  75% {
    transform: scale(1.05);
    filter: brightness(105%);
  }
  100% {
    transform: scale(1);
    filter: brightness(100%);
  }
}

/**********************
GRID
**********************/

#grid {
  display: grid;
  gap: 6px;
  padding: 12px;
  border-radius: 12px;
  margin: 0 auto 32px;
  background: var(--purple-dark);
  outline: var(--thin-border);
}

.tile {
  outline: var(--thin-border);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 48px;
}

.attack::after {
  content: '';
  background: var(--red);
  opacity: 50%;
  display: block;
  width: 100%;
  border-radius: 5px;
  aspect-ratio: 1/1;
  position: relative;
  /* If you want it to be above cat */
  z-index: var(--atk-z);
  transition: opacity 0.3s ease;
}

.attack.attacking::after {
  opacity: 1;
}

.floor {
  background: var(--teal);
}

.grass {
  background: var(--green);
}

.street {
  background: var(--grey-dark);
}

.space {
  background: var(--black);
  background-image: radial-gradient(var(--white) 1px, transparent 1px),
    radial-gradient(var(--grey) 1px, transparent 1px),
    radial-gradient(var(--pink) 1px, transparent 1px);
  background-size: 80px 50px, 80px 80px, 120px 40px;
  background-position: 0 0, 20px 20px, 40px 60px;
  animation: starfield 90s linear infinite;
}

@keyframes starfield {
  0% {
    background-position: 0 0, 20px 20px, 40px 60px;
  }
  100% {
    background-position: 500px 0, 200px 20px, 300px 60px;
  }
}

.thing {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coin {
  width: 30px;
  height: 30px;
  font-size: 16px;
  box-shadow: var(--orange) -2px 1px;
  background: var(--yellow);
  color: var(--red);
  border-radius: 100%;
  font-weight: 700;
}

.planet {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  box-shadow: inset -8px -5px 15px var(--black);
}

.planet-1 {
  background: linear-gradient(to bottom right, var(--orange), var(--red));
}

.planet-2 {
  background: linear-gradient(to bottom right, var(--pink), var(--purple-dark));
}

.planet-3 {
  background: var(--green);
}

/**********************
CAT
**********************/

#cat {
  position: relative;
  width: 200px;
  height: 300px;
  border-radius: 50% / 55%;
  background: var(--black);
  /* This is a little weird, but oh well */
  zoom: 40%;
  transition: left 0.5s, top 0.5s, height 0.5s;
  z-index: var(--cat-z);
}

#cat.longcat {
  height: 475px;
}

#cat.nap {
  height: 160px;
}

.ear {
  position: absolute;
  width: 40px;
  height: 40px;
  background: var(--black);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  top: -9px;
}

.ear.left {
  left: 10px;
  transform: rotate(-44deg);
  transition: left 0.5s;
}

#cat.longcat .ear.left {
  left: 23px;
}

.ear.right {
  right: 10px;
  transform: rotate(44deg);
  transition: right 0.5s;
}

#cat.longcat .ear.right {
  right: 23px;
}

.face {
  position: relative;
  top: -16px;
}

.eye {
  position: absolute;
  width: 30px;
  height: 16px;
  background: var(--green);
  border-radius: 50%;
  top: 45px;
}

.eye::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 20px;
  background: black;
  border-radius: 50%;
  top: -2px;
  left: 9px;
}

.eye.left {
  left: 59px;
}

.eye.right {
  right: 59px;
}

.nose {
  position: absolute;
  background: var(--pink);
  width: 9px;
  height: 5px;
  top: 63px;
  left: 95px;
  border-radius: 5px;
}

.smile {
  position: absolute;
  width: 25px;
  height: 12px;
  border-bottom: 3px solid var(--pink-hot);
  border-radius: 0 0 60px 60px;
  top: 68px;
  left: 50%;
  transform: translateX(-50%);
}

.paw {
  position: absolute;
  width: 40px;
  height: 60px;
  background: black;
  border-radius: 50%;
  border: 3px solid var(--grey-dark);
}

.paw.front-left {
  top: 100px;
  left: 30px;
  transform: rotate(-30deg);
}

.paw.front-right {
  top: 100px;
  right: 20px;
  transform: rotate(21deg);
}

.paw.back-left {
  bottom: 20px;
  left: 40px;
  transform: rotate(-10deg);
}

.paw.back-right {
  bottom: 20px;
  right: 40px;
  transform: rotate(10deg);
}

.glowing {
  box-shadow: 0px 0px 66px 16px var(--pink-hot);
}
/**********************
CARD & ROTATE BUTTONS
**********************/
#card-holder {
  display: flex;
  gap: 32px;
}

#card-and-rotator-holder {
  display: flex;
  gap: 32px;
}

.card,
.arrow {
  align-items: center;
  background: var(--white);
  border-radius: 10px;
  border: 8px solid var(--teal);
  cursor: pointer;
  display: flex;
  font-size: 16px;
  flex-direction: column;
  height: 190px;
  justify-content: space-between;
  outline: var(--thick-border);
  padding: 12px;
  text-align: center;
  width: 160px;
}

.arrow {
  font-size: 100px;
  line-height: 50px;
}

.card:focus {
  outline-width: 10px;
}

.stats {
  display: flex;
  width: 100%;
  gap: 12px;
  justify-content: space-between;
}

.stats div {
  background: var(--orange);
  padding: 12px 16px;
  border-radius: 4px;
  outline: var(--thick-border);
  font-size: 24px;
  line-height: 24px;
}

.stats div:nth-child(2) {
  background: var(--green);
}
